DATABASE_URL=
REDIS_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=1d
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
SMILE_IDENTITY_API_KEY=
SMILE_IDENTITY_PARTNER_ID=
GOOGLE_MAPS_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SENTRY_DSN=
SENTRY_DSN_API=
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*
PLATFORM_COMMISSION_PERCENT=1000
MONNIFY_BASE_URL=
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_WEBHOOK_SECRET=
SQUAD_BASE_URL=
SQUAD_SECRET_KEY=
SQUAD_MERCHANT_ID=
SQUAD_BENEFICIARY_ACCOUNT=
SQUAD_DEFAULT_CUSTOMER_GENDER=